@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');

html,
body {
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #333;
  background: #efefef;
  font-size: 3vw;
}

svg {
  width: 50%;
}

.clockWrapper {
  background: #fff;
  display: flex;
  justify-content: center;
  background: #323232;
  height: 60vw;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.dark {
  background: #263238;
}

h1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.dark h1 {
  color: #ccc;
}

.content {
  padding: 3vw;
  line-height: 1.8;
}
